form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #89B13E;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0F4F75;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #89B13E;
    color: #0F4F75;
}